html,
body {
  --dark-0: rgb(0, 7, 20);
  --dark-1: rgb(0, 7, 24);
  --dark-2: rgb(0, 12, 20);
  --dark-3: rgb(0, 18, 24);
  --gray: rgb(51, 51, 51);
  --gray-1: rgb(26, 26, 26);
  --gray-2: rgb(75, 75, 75);

  --gray-30: rgba(51, 51, 51, 0.3);
  --gray-0: rgba(51, 51, 51, 0);

  --background-dark: rgb(4, 16, 24);
  --super-dark: rgb(0, 7, 24);
  --dark: rgb(0, 18, 24);
  --dark-alternate: rgb(0, 7, 20);
  --light: rgb(255, 255, 255);
  --accent-primary: rgb(63, 169, 245);
  --accent-secondary: rgb(255, 50, 172);
  --accent-primary-30: rgba(63, 169, 245, 0.3);
  --accent-primary-0: rgba(63, 169, 245, 0);
  --accent-danger: rgb(255, 0, 0);
  --accent-danger-0: rgba(255, 0, 0, 0);
  --accent-danger-30: rgba(255, 0, 0, 0.3);

  --background-gradient: linear-gradient(60deg, var(--dark-3), var(--dark-1));
  --selected-gradient: linear-gradient(45deg, var(--accent-primary-0) 30%, var(--accent-primary-30));
  --selected-danger-gradient: linear-gradient(45deg, var(--accent-danger-0) 30%, var(--accent-danger-30));
  --action-gradient: linear-gradient(45deg, var(--accent-primary), var(--accent-secondary));
  --reverse-action-gradient: linear-gradient(45deg, var(--accent-secondary), var(--accent-primary));
  --background-primary: var(--dark-0);
  --background-secondary: var(--dark-2);
  --text-color: var(--light);
  --dice-dot: linear-gradient(45deg, rgb(242, 242, 242), rgb(179, 179, 179));

  margin: 0;
}
