.logo {
  background: var(--background-gradient);
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  color: var(--text-color);
  font-family: "Roboto";

  --logo-width: 138px;
}

.logo img {
  padding-top: 50px;
  width: var(--logo-width);
}

.logo .city {
  position: absolute;
  text-transform: uppercase;
  font-size: 11px;
  text-align: right;
  top: 88px;
  right: calc(var(--logo-width) / 2 + 10px);
  letter-spacing: 0.25em;
}

.logo .phrases {
  font-size: 12px;
  padding: 15px 0 0;
  text-align: center;
  max-width: 200px;
  opacity: 0.3;
}