.transaction {
  display: flex;
  border: 1px solid var(--border-color);
}
.transaction span { flex: var(--size) 0; padding: var(--table-padding); }
.transaction span.description { --size: 3; }
.transaction span.category { --size: 1; }
.transaction span.created { --size: 1; }
.transaction span.amount { --size: 2; }
.transaction > span:last-child { text-align: right; }
.transaction:nth-child(even) { background: rgba(255, 255, 255, 0.05); }
.transaction:nth-child(odd) { background: rgba(0, 0, 0, 0.05); }

.transaction span.amount {
  font-family: monospace;
  color: var(--amount-color);
}

.transaction span.amount:before {
  content: var(--amount-content);
}

.transaction {
  --amount-content: '-';
  --amount-color: pink;
}
.transaction[data-type=win] {
  --amount-content: '+';
  --amount-color: lightgreen;
}