nav.app-navigation {
  margin: 0;

  background: var(--background-secondary);
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  padding: 30px 0;

  --menu-color: var(--light);
  --divider-color: var(--gray);
  --selected: var(--selected-gradient);
}

nav.app-navigation a {
  text-decoration: none;
  color: var(--menu-color);
  padding: 10px;
  margin: 15px 0;
  text-align: right;
}

nav.app-navigation a.active {
  background: var(--selected);
}

nav.app-navigation hr {
  margin: 15px;
  border: none;
  border-top: 1px solid var(--divider-color);
}

nav.app-navigation .divider {
  flex: 1;
}

nav.app-navigation a.reset {
  --selected: var(--selected-danger-gradient);
}

nav.app-navigation a.nuclear-option {
  --selected: var(--selected-danger-gradient);
  opacity: 0.5;
}